# compiled output
/src/browser/commish/dist
/src/browser/commish/tmp

# dependencies
/src/browser/commish/node_modules
/src/browser/commish/bower_components

# misc
/src/browser/commish/.sass-cache
/src/browser/commish/connect.lock
/src/browser/commish/coverage/*
/src/browse/commish/libpeerconnection.log
npm-debug.log
testem.log

#go
/src/golang/bin
/src/golang/pkg
/src/golang/vendor/src

# docker
.rootfs

# Keys
*.pem
aws_keys.cmd

# Deploy script
Makefile

# Vim
*.swp
