& {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.team-select {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  flex-grow: 1;

  .member-teams,.non-member-teams {
    width: 50%;
    flex-shrink: 1;
    margin-left: 5px;
    margin-right: 5px;
  }

  .member-teams {
    .team-list .fa {
      color: red;
    }

    .team-header {
      padding: 3px;
    }
  }

  .non-member-teams {
    .team-list .fa {
      color: green;
    }

    .team-header a.button {
      display:none;
      &.show {
        display: initial;
      }
    }
  }

  .team-list {
    border: 1px solid black;
    border-radius: $border-radius;
    margin-top: 5px;
    height: 150px;
    .row {
      padding: 2px;
      padding-left: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      .fa {
        display: none;
        margin-right: 20px;
      }

      &:hover .fa {
        display: initial;
      }
    }
    .row:nth-child(2n) {
      background-color: $highlight-color;
    }
    .row:nth-last-child(1) {
      border-radius: 0 0 $border-radius $border-radius;
    }
    .row:nth-child(n+5) {
      display: none;
    }
  }
}

