& {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-left: 15px;

  .resource-list {
    flex-grow: 1;
    margin-left: initial;
    margin-right: initial;
  }

  .enter-result {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }

  .enter-result-header {
    margin-left: 5px;
  }

  .enter-result-body {
    display: flex;
    flex-direction: row;

    .team-list {
      flex-grow: 1;
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 10px;

      .rows {
        border: 1px solid black;
        border-radius: $border-radius;
      }
    }

    .row {
      padding: 2px;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .fa {
        visibility: hidden;
        color: green;
      }

      &.selected {
        background: $active-color;
      }

      &.selected.error {
        background: $error-color;
      }

      &:hover .fa {
        visibility: initial;
      }

      &:nth-child(2n+1):not(.selected){ 
        background: $highlight-color; 
      }

      &:first-child{
        border-radius: $border-radius $border-radius 0 0;
      }

      &:last-child{
        border-radius: 0 0 $border-radius $border-radius;
      }
    }
  }
}

