& {
  max-width: 800px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right-buttons {
  flex-direction: row-reverse;
  justify-content: flex-start;
  display: flex;
}

.panes-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 15px;
}

.form-selector {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: $border-radius;

  .active {
    background-color: $active-color;
  }

  & > div {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    line-height: 40px;
    font-size: 30px;
    border: 1px solid black;

    &:hover {
        background-color: $hover-background-color;
    }
  }

  .fa {
    height: 40px;
    width: 40px;
  }
}
