@import "pod-styles";
@import "font-awesome";

@import "./app/manage/players/style.scss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

a.button {
  display: inline-block;
  padding: 3px 3px 2px 2px;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;

  &:hover {
    background-color: #DDEEFF;
  }

  &.disabled {
    color: #BBBBBB;
    background-color: #EEEEEE;
    cursor: default; 

    &.hover {
      background-color: #EEEEEE;
    } 
  }
}
