$row-color: #DDDDDD; 
$border-radius: 5px;

@import "pod-styles";
@import "font-awesome";

@import "./app/manage/players/style.scss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

a.button {
  display: inline-block;
  padding: 3px 3px 2px 2px;
  border-radius: $border-radius;
  border: 2px solid black;
  cursor: pointer;

  &:hover {
    background-color: #DDEEFF;
  }

  &.disabled {
    color: #BBBBBB;
    background-color: #EEEEEE;
    cursor: default; 

    &.hover {
      background-color: #EEEEEE;
    } 
  }
}

input.form-field {
  border-radius: $border-radius;
  font-size: 1em;
  box-shadow: none;
  border: 1px solid grey;
  padding: 2px;
}
