$border-radius: 5px;
$background-color: #ffffe5;
$highlight-color: #dddddd;
$hover-background-color: #87cefa;
$active-color: #bcdf8a;
$button-background-color: #ffffff;
$disabled-background-color: #eeeeee;
$disabled-text-color: #bbbbbb;

@import "pod-styles";
@import "font-awesome";

@import "./app/manage/players/style.scss";
@import "./app/login/style.scss";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $background-color;
}

a.button {
  display: inline-block;
  padding: 3px 3px 2px 2px;
  border-radius: $border-radius;
  border: 2px solid black;
  cursor: pointer;
  background-color: $button-background-color;

  &:hover {
    background-color: $hover-background-color;
  }

  &.disabled {
    color: $disabled-text-color; 
    background-color: $disabled-background-color; 
    cursor: default; 

    &:hover {
      background-color: $disabled-background-color;
    } 
  }
}

input.form-field {
  border-radius: $border-radius;
  font-size: 1em;
  box-shadow: none;
  border: 1px solid grey;
  padding: 2px;
}

div.resource-filters {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

div.resource-list {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  .column {
    flex: 1 1 auto;
  }

  .row:nth-child(2n+3) {
    background: $highlight-color; 
  }
 
  .row {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    
    &:hover, &.hover{
      background: $hover-background-color;
    }

    &.selected {
      background: $active-color;
    }
  }

  .header {
    font-weight: bold;
    text-transform: capitalize;
     &:hover {
       background-color: initial;
     }
  }
}

div.resource-list-header {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
