& {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .form-fields {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 5px;

    .field {
      margin-top: 10px;
      display: flex;
      flex-direction: column;

      .form-field {
        margin-top: 2px;
        margin-left: 10px;
      }
    }
  }
}
