& {
  max-width: 800px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right-buttons {
  flex-direction: row-reverse;
  justify-content: flex-start;
  display: flex;
}

.form-fields, .field {
  display: flex;
  flex-direction: column;
}

.form-selector {
  display: flex;
  flex-direction: row;

  .active {
    background-color: #3610DE;
  }

  div {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    line-height: 40px;
    font-size: 30px;
  }

  .fa {
    height: 40px;
    width: 40px;
  }
}
